@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0f0f0f;
    font: 'Roboto', 'Arial',sans-serif;
    font-weight: 400;
    overflow: hidden;
    color: white;
}
 
 /* custom-scrollbar.css */
.homecontents::-webkit-scrollbar {
width: 0px;
}

/* custom-scrollbar.css */
.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
background: transparent;
}

:hover.sidebar::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
background: #555;
}
  
